Repository prebid/prebid-server, pull requests merged in 2018-07, with the labels that each got.

#622 Removed most external test dependencies
  adapters/adtelligent/adtelligent.go
  adapters/adtelligent/adtelligent_test.go
  adapters/lifestreet/lifestreet.go
  adapters/lifestreet/lifestreet_test.go
  adapters/openx/openx.go
  adapters/openx/openx_test.go
  adapters/somoaudience/somoaudience.go
  adapters/somoaudience/somoaudience_test.go
  config/config.go
  config/config_test.go
  exchange/adapter_map.go
  exchange/exchange_test.go
  pbs_light.go
  usersync/usersyncers/syncer.go
Labels: breaking change - hosts

#633 Fix tagid param for Sovrn
  static/bidder-params/sovrn.json
Labels: breaking change - callers

#635 Revert "Fix tagid param for Sovrn"
  static/bidder-params/sovrn.json
Labels: breaking change - callers

#631 Adds error code output to openrtb auction debugs.
  docs/endpoints/openrtb2/auction.md
  errortypes/errortypes.go
  exchange/bidder.go
  exchange/exchange.go
  openrtb_ext/response.go
Labels: breaking change - callers, openrtb
