Repository prebid/prebid-server, pull requests merged in 2025-01, with the labels that each got.

#3904 New Adapter: Kobler
  adapters/kobler/kobler.go
  adapters/kobler/kobler_test.go
  adapters/kobler/koblertest/exemplary/simple_banner.json
  adapters/kobler/koblertest/supplemental/convert-currency-invalid-currency.json
  adapters/kobler/koblertest/supplemental/convert-currency.json
  adapters/kobler/koblertest/supplemental/correct-endpoint-when-testing.json
  adapters/kobler/koblertest/supplemental/no-bid-media-type.json
  adapters/kobler/koblertest/supplemental/no-response-body.json
  adapters/kobler/koblertest/supplemental/status-204.json
  adapters/kobler/koblertest/supplemental/status-404.json
  adapters/kobler/koblertest/supplemental/wrong-response-body-type.json
  adapters/kobler/params_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_kobler.go
  static/bidder-info/kobler.yaml
  static/bidder-params/kobler.json
Labels: adapter

#3864 Adhese: Switch to openrtb2 endpoint
  adapters/adhese/adhese.go
  adapters/adhese/adhese_test.go
  adapters/adhese/adhesetest/exemplary/banner-internal.json
  adapters/adhese/adhesetest/exemplary/banner-market.json
  adapters/adhese/adhesetest/exemplary/banner-video-internal.json
  adapters/adhese/adhesetest/exemplary/banner.json
  adapters/adhese/adhesetest/exemplary/video.json
  adapters/adhese/adhesetest/supplemental/req-invalid-empty-imp-ext.json
  adapters/adhese/adhesetest/supplemental/req-invalid-empty-imp.json
  adapters/adhese/adhesetest/supplemental/req-invalid-no-imp-ext.json
  adapters/adhese/adhesetest/supplemental/res-invalid-height.json
  adapters/adhese/adhesetest/supplemental/res-invalid-no-body.json
  adapters/adhese/adhesetest/supplemental/res-invalid-no-origin.json
  adapters/adhese/adhesetest/supplemental/res-invalid-price.json
  adapters/adhese/adhesetest/supplemental/res-invalid-status-not-ok.json
  adapters/adhese/adhesetest/supplemental/res-invalid-width.json
  adapters/adhese/adhesetest/supplemental/res-no_bids_200.json
  adapters/adhese/adhesetest/supplemental/res-no_bids_204.json
  adapters/adhese/adhesetest/supplemental/res-no_impression_counter.json
  adapters/adhese/utils.go
  openrtb_ext/imp_adhese.go
  static/bidder-info/adhese.yaml
  static/bidder-params/adhese.json
Labels: adapter

#4018 New Adapter: Adverxo
  adapters/adverxo/adverxo.go
  adapters/adverxo/adverxo_test.go
  adapters/adverxo/adverxotest/exemplary/banner.json
  adapters/adverxo/adverxotest/exemplary/native.json
  adapters/adverxo/adverxotest/exemplary/video.json
  adapters/adverxo/adverxotest/supplemental/bad_imp_ext.json
  adapters/adverxo/adverxotest/supplemental/bad_impext_bidder.json
  adapters/adverxo/adverxotest/supplemental/currency_conversion.json
  adapters/adverxo/adverxotest/supplemental/currency_rate_not_found.json
  adapters/adverxo/adverxotest/supplemental/invalid_mtype.json
  adapters/adverxo/adverxotest/supplemental/invalid_native_adm.json
  adapters/adverxo/adverxotest/supplemental/multi_imps.json
  adapters/adverxo/adverxotest/supplemental/multiformat.json
  adapters/adverxo/adverxotest/supplemental/no_bid.json
  adapters/adverxo/adverxotest/supplemental/resolve_ortb_macro.json
  adapters/adverxo/adverxotest/supplemental/server_error.json
  adapters/adverxo/params_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_adverxo.go
  static/bidder-info/adport.yaml
  static/bidder-info/adverxo.yaml
  static/bidder-info/bidsmind.yaml
  static/bidder-info/mobupps.yaml
  static/bidder-params/adverxo.json
Labels: adapter

#4038 New Adapter: Kueez
  adapters/kueezrtb/kueezrtb.go
  adapters/kueezrtb/kueezrtb_test.go
  adapters/kueezrtb/kueezrtbtest/exemplary/banner.json
  adapters/kueezrtb/kueezrtbtest/exemplary/multi-imp.json
  adapters/kueezrtb/kueezrtbtest/exemplary/video.json
  adapters/kueezrtb/kueezrtbtest/supplemental/bad-request.json
  adapters/kueezrtb/kueezrtbtest/supplemental/internal-error.json
  adapters/kueezrtb/kueezrtbtest/supplemental/no-content.json
  adapters/kueezrtb/kueezrtbtest/supplemental/unknown-bid-type.json
  adapters/kueezrtb/params_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_kueezrtb.go
  static/bidder-info/kueezrtb.yaml
  static/bidder-params/kueezrtb.json
Labels: adapter

#4161 Revert "Rubicon: Update segtax logic (#3915)"
  adapters/rubicon/rubicon.go
  adapters/rubicon/rubicontest/exemplary/25-26-transition-period.json
  adapters/rubicon/rubicontest/exemplary/app-imp-fpd.json
  adapters/rubicon/rubicontest/exemplary/flexible-schema.json
  adapters/rubicon/rubicontest/exemplary/hardcode-secure.json
  adapters/rubicon/rubicontest/exemplary/segtax-attributes.json
  adapters/rubicon/rubicontest/exemplary/simple-banner.json
  adapters/rubicon/rubicontest/exemplary/simple-native.json
  adapters/rubicon/rubicontest/exemplary/simple-video.json
  adapters/rubicon/rubicontest/exemplary/site-imp-fpd.json
  adapters/rubicon/rubicontest/exemplary/user-fpd.json
  adapters/rubicon/rubicontest/supplemental/no-site-content-data.json
  adapters/rubicon/rubicontest/supplemental/no-site-content.json
  go.mod
  go.sum
Labels: do not port

#3955 Sovrn: Accept imp.ext bidfloor as number or string
  adapters/sovrn/params_test.go
  adapters/sovrn/sovrn.go
  adapters/sovrn/sovrntest/supplemental/custom-overrides-default-bidfloor.json
  adapters/sovrn/sovrntest/supplemental/only-custom-bidfloor-as-string.json
  adapters/sovrn/sovrntest/supplemental/only-custom-bidfloor-erroneus.json
  adapters/sovrn/sovrntest/supplemental/with-both-custom-default-bidfloor-as-string.json
  openrtb_ext/imp_sovrn.go
  static/bidder-params/sovrn.json
Labels: adapter

#3929 New adapter: Ads Interactive
  adapters/ads_interactive/ads_interactive.go
  adapters/ads_interactive/ads_interactive_test.go
  adapters/ads_interactive/ads_interactivetest/exemplary/endpointId.json
  adapters/ads_interactive/ads_interactivetest/exemplary/multi-format.json
  adapters/ads_interactive/ads_interactivetest/exemplary/multi-imp.json
  adapters/ads_interactive/ads_interactivetest/exemplary/simple-banner.json
  adapters/ads_interactive/ads_interactivetest/exemplary/simple-native.json
  adapters/ads_interactive/ads_interactivetest/exemplary/simple-video.json
  adapters/ads_interactive/ads_interactivetest/exemplary/simple-web-banner.json
  adapters/ads_interactive/ads_interactivetest/supplemental/bad_media_type.json
  adapters/ads_interactive/ads_interactivetest/supplemental/bad_response.json
  adapters/ads_interactive/ads_interactivetest/supplemental/no-valid-bidder-param.json
  adapters/ads_interactive/ads_interactivetest/supplemental/no-valid-imp-ext.json
  adapters/ads_interactive/ads_interactivetest/supplemental/status-204.json
  adapters/ads_interactive/ads_interactivetest/supplemental/status-not-200.json
  adapters/ads_interactive/params_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_ads_interactive.go
  static/bidder-info/ads_interactive.yaml
  static/bidder-params/ads_interactive.json
Labels: adapter

#4107 CWire: Add domainId param and app capability
  adapters/cwire/cwiretest/exemplary/app-imp-ext.json
  adapters/cwire/cwiretest/exemplary/app.json
  adapters/cwire/params_test.go
  openrtb_ext/imp_cwire.go
  static/bidder-info/cwire.yaml
  static/bidder-params/cwire.json
Labels: adapter

#4132 Criteo: Add pubid/uid fields in the configuration
  adapters/criteo/params_test.go
  openrtb_ext/imp_criteo.go
  static/bidder-params/criteo.json
Labels: adapter

#4128 Medianet: Sanitize usersync iframe url
  static/bidder-info/medianet.yaml
Labels: do not port, adapter

#4082 New Adapter: Ogury
  adapters/ogury/ogury.go
  adapters/ogury/ogury_test.go
  adapters/ogury/ogurytest/exemplary/banner_asset_ad_unit.json
  adapters/ogury/ogurytest/exemplary/banner_multi_imp_with_params.json
  adapters/ogury/ogurytest/exemplary/banner_multi_imp_without_ogury_params.json
  adapters/ogury/ogurytest/exemplary/banner_publisher.json
  adapters/ogury/ogurytest/supplemental/banner_invalid_request.json
  adapters/ogury/ogurytest/supplemental/banner_with_ad_unit_code.json
  adapters/ogury/ogurytest/supplemental/banner_with_arbitary_bidder_param.json
  adapters/ogury/param_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_ogury.go
  static/bidder-info/ogury.yaml
  static/bidder-params/ogury.json
Labels: adapter

#3987 New Adapter: TradPlus
  adapters/tradplus/params_test.go
  adapters/tradplus/tradplus.go
  adapters/tradplus/tradplus_test.go
  adapters/tradplus/tradplustest/exemplary/no-bid.json
  adapters/tradplus/tradplustest/exemplary/simple-banner-multi.json
  adapters/tradplus/tradplustest/exemplary/simple-banner.json
  adapters/tradplus/tradplustest/exemplary/simple-multi-types.json
  adapters/tradplus/tradplustest/exemplary/simple-native.json
  adapters/tradplus/tradplustest/exemplary/simple-video.json
  adapters/tradplus/tradplustest/supplemental/bad_imp_ext.json
  adapters/tradplus/tradplustest/supplemental/bad_imp_ext_bidder.json
  adapters/tradplus/tradplustest/supplemental/bad_response.json
  adapters/tradplus/tradplustest/supplemental/status_400.json
  adapters/tradplus/tradplustest/supplemental/status_500.json
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_tradplus.go
  static/bidder-info/tradplus.yaml
  static/bidder-params/tradplus.json
Labels: adapter

#4125 vrtcal: Declare ORTB 2.6 support
  static/bidder-info/vrtcal.yaml
Labels: adapter

#4127 Yieldlab: Forward consent under param gdpr_consent
  adapters/yieldlab/yieldlab.go
  adapters/yieldlab/yieldlabtest/exemplary/dsa.json
  adapters/yieldlab/yieldlabtest/exemplary/gdpr.json
  adapters/yieldlab/yieldlabtest/supplemental/dsa_empty.json
  adapters/yieldlab/yieldlabtest/supplemental/dsa_empty_transparency.json
Labels: adapter

#4141 Add codepath alerts
  .github/workflows/code-path-changes.yml
  .github/workflows/scripts/codepath-notification
  .github/workflows/scripts/send-notification-on-change.js
Labels: do not port

#4076 New Adapter: AdUp Tech
  adapters/aduptech/aduptech.go
  adapters/aduptech/aduptech_test.go
  adapters/aduptech/aduptechtest/exemplary/simple-banner-convert-currency-intermediate.json
  adapters/aduptech/aduptechtest/exemplary/simple-banner-convert-currency.json
  adapters/aduptech/aduptechtest/exemplary/simple-banner-full-params.json
  adapters/aduptech/aduptechtest/exemplary/simple-banner.json
  adapters/aduptech/aduptechtest/exemplary/simple-native.json
  adapters/aduptech/aduptechtest/supplemental/broken-response.json
  adapters/aduptech/aduptechtest/supplemental/currency-conversion-failure.json
  adapters/aduptech/aduptechtest/supplemental/currency-conversion-intermediate-failure.json
  adapters/aduptech/aduptechtest/supplemental/currency-conversion-invalid-currency.json
  adapters/aduptech/aduptechtest/supplemental/status-204.json
  adapters/aduptech/aduptechtest/supplemental/status-400.json
  adapters/aduptech/aduptechtest/supplemental/status-500.json
  adapters/aduptech/aduptechtest/supplemental/unsupported-mtype.json
  adapters/aduptech/params_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_aduptech.go
  static/bidder-info/aduptech.yaml
  static/bidder-params/aduptech.json
Labels: adapter

#4104 New Adapter: FeedAd
  adapters/feedad/feedad.go
  adapters/feedad/feedad_test.go
  adapters/feedad/feedadtest/exemplary/banner-app.json
  adapters/feedad/feedadtest/exemplary/banner-site.json
  adapters/feedad/feedadtest/supplemental/banner-site-204-response.json
  adapters/feedad/feedadtest/supplemental/banner-site-400-response.json
  adapters/feedad/feedadtest/supplemental/banner-site-500-response.json
  adapters/feedad/feedadtest/supplemental/banner-site-malformed-response.json
  adapters/feedad/feedadtest/supplemental/banner-site-no-device.json
  adapters/feedad/params_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_feedad.go
  static/bidder-info/feedad.yaml
  static/bidder-params/feedad.json
Labels: adapter
