Repository prebid/prebid-server, pull requests merged in 2025-06, with the labels that each got.

#4300 New Adapter: Adagio
  adapters/adagio/adagio.go
  adapters/adagio/adagio_test.go
  adapters/adagio/adagiotest/exemplary/banner-app.json
  adapters/adagio/adagiotest/exemplary/multi-formats-app.json
  adapters/adagio/adagiotest/exemplary/multi-imps-app.json
  adapters/adagio/adagiotest/exemplary/native-app.json
  adapters/adagio/adagiotest/exemplary/video-app.json
  adapters/adagio/adagiotest/supplemental/empty-seatbid-array.json
  adapters/adagio/adagiotest/supplemental/invalid-bid-ext-response.json
  adapters/adagio/adagiotest/supplemental/invalid-response.json
  adapters/adagio/adagiotest/supplemental/other-error-response.json
  adapters/adagio/adagiotest/supplemental/response-with-wrong-bidtype.json
  adapters/adagio/adagiotest/supplemental/status-code-bad-request.json
  adapters/adagio/adagiotest/supplemental/status-code-no-content.json
  adapters/adagio/adagiotest/supplemental/status-code-other-error.json
  adapters/adagio/params_test.go
  exchange/adapter_builders.go
  exchange/adapter_util.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_adagio.go
  static/bidder-info/adagio.yaml
  static/bidder-params/adagio.json
Labels: adapter

#4287 New Adapter: Optidigital
  adapters/optidigital/optidigital.go
  adapters/optidigital/optidigital_test.go
  adapters/optidigital/optidigitaltest/exemplary/banner.json
  adapters/optidigital/optidigitaltest/supplemental/bad_request.json
  adapters/optidigital/optidigitaltest/supplemental/bad_response.json
  adapters/optidigital/optidigitaltest/supplemental/no_response.json
  adapters/optidigital/optidigitaltest/supplemental/other_error.json
  adapters/optidigital/params_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_optidigital.go
  static/bidder-info/optidigital.yaml
  static/bidder-params/optidigital.json
Labels: adapter

#4324 New Adapter: Start.io
  adapters/startio/startio.go
  adapters/startio/startio_test.go
  adapters/startio/startiotest/exemplary/banner.json
  adapters/startio/startiotest/exemplary/multiple-imps.json
  adapters/startio/startiotest/exemplary/native.json
  adapters/startio/startiotest/exemplary/video.json
  adapters/startio/startiotest/supplemental/invalid-resp-media-type.json
  adapters/startio/startiotest/supplemental/req-invalid-unsupported-cur.json
  adapters/startio/startiotest/supplemental/resp-invalid-no-body.json
  adapters/startio/startiotest/supplemental/status-204.json
  adapters/startio/startiotest/supplemental/status-400.json
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  static/bidder-info/startio.yaml
  static/bidder-params/startio.json
Labels: adapter

#4277 Conversant: Enable native requests
  adapters/conversant/conversant.go
  adapters/conversant/conversanttest/exemplary/simple-native.json
  static/bidder-info/conversant.yaml
Labels: adapter

#4314 Ogury: Enable in app traffic
  adapters/ogury/ogury.go
  adapters/ogury/ogurytest/exemplary/app_banner_asset_ad_unit.json
  adapters/ogury/ogurytest/exemplary/site_banner_asset_ad_unit.json
  adapters/ogury/ogurytest/exemplary/site_banner_asset_ad_unit_multi_imp.json
  adapters/ogury/ogurytest/exemplary/site_banner_publisher.json
  adapters/ogury/ogurytest/exemplary/site_banner_publisher_multi_imp.json
  adapters/ogury/ogurytest/supplemental/app_banner_invalid_request.json
  adapters/ogury/ogurytest/supplemental/banner_with_arbitrary_bidder_param.json
  adapters/ogury/ogurytest/supplemental/site_banner_invalid_request.json
  adapters/ogury/ogurytest/supplemental/site_banner_with_ad_unit_code.json
  static/bidder-info/ogury.yaml
Labels: adapter

#4366 Sharethrough: Add geoscope to config
  static/bidder-info/sharethrough.yaml
Labels: adapter

#4357 New Adapter: ttd - TheTradeDesk alias
  static/bidder-info/ttd.yaml
Labels: adapter

#4373 Colossus: Declare OpenRTB 2.6 support
  static/bidder-info/colossus.yaml
Labels: adapter

#4332 Pubmatic: Enable Gzip compression
  static/bidder-info/pubmatic.yaml
Labels: adapter

#4382 Rules Engine Module: module.go tests
  modules/prebid/rulesengine/module_test.go
Labels: module

#4345 Dianomi: Update user syncs to send gdpr_consent
  static/bidder-info/dianomi.yaml
Labels: adapter

#4401 Rules Engine Module: Validation fixes
  modules/prebid/rulesengine/config/config_test.go
  modules/prebid/rulesengine/config/rules-engine-schema.json
Labels: module

#4303 MobileFuse: Remove tagid_src and pub_id params
  adapters/mobilefuse/mobilefuse.go
  adapters/mobilefuse/mobilefuse_test.go
  adapters/mobilefuse/mobilefusetest/exemplary/multi-format.json
  adapters/mobilefuse/mobilefusetest/exemplary/multi-imps-multi-format.json
  adapters/mobilefuse/mobilefusetest/exemplary/multi-imps.json
  adapters/mobilefuse/mobilefusetest/exemplary/no-bid.json
  adapters/mobilefuse/mobilefusetest/exemplary/optional-params.json
  adapters/mobilefuse/mobilefusetest/exemplary/simple-banner.json
  adapters/mobilefuse/mobilefusetest/exemplary/simple-native.json
  adapters/mobilefuse/mobilefusetest/exemplary/simple-video.json
  adapters/mobilefuse/mobilefusetest/exemplary/skadn.json
  adapters/mobilefuse/mobilefusetest/supplemental/bad-status-code.json
  adapters/mobilefuse/mobilefusetest/supplemental/no-imps.json
  adapters/mobilefuse/mobilefusetest/supplemental/server-error-response.json
  adapters/mobilefuse/params_test.go
  openrtb_ext/imp_mobilefuse.go
  static/bidder-info/mobilefuse.yaml
  static/bidder-params/mobilefuse.json
Labels: adapter

#4378 Rules Engine Module: Tree manager tests
  modules/prebid/rulesengine/cache_entry_test.go
  modules/prebid/rulesengine/observer.go
  modules/prebid/rulesengine/tree_manager.go
  modules/prebid/rulesengine/tree_manager_test.go
Labels: module

#4243 New Adapter: Flatads
  adapters/flatads/flatads.go
  adapters/flatads/flatads_test.go
  adapters/flatads/flatadstest/exemplary/banner.json
  adapters/flatads/flatadstest/exemplary/headers_ipv4.json
  adapters/flatads/flatadstest/exemplary/headers_ipv6.json
  adapters/flatads/flatadstest/exemplary/multiple-imps.json
  adapters/flatads/flatadstest/exemplary/native.json
  adapters/flatads/flatadstest/exemplary/optional-params.json
  adapters/flatads/flatadstest/exemplary/video.json
  adapters/flatads/flatadstest/supplemental/bad-request.json
  adapters/flatads/flatadstest/supplemental/invalid-bid-type.json
  adapters/flatads/flatadstest/supplemental/invalid-imp-ext-bidder.json
  adapters/flatads/flatadstest/supplemental/invalid-imp-ext.json
  adapters/flatads/flatadstest/supplemental/multiple-imps-with-error.json
  adapters/flatads/flatadstest/supplemental/response-200-without-body.json
  adapters/flatads/flatadstest/supplemental/response-204.json
  adapters/flatads/flatadstest/supplemental/server-error.json
  adapters/flatads/params_test.go
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_flatads.go
  static/bidder-info/flatads.yaml
  static/bidder-params/flatads.json
Labels: adapter

#4348 Rubicon: Add Bid Meta Seat
  adapters/rubicon/rubicon.go
  adapters/rubicon/rubicon_test.go
  adapters/rubicon/rubicontest/exemplary/25-26-transition-period.json
  adapters/rubicon/rubicontest/exemplary/app-imp-fpd.json
  adapters/rubicon/rubicontest/exemplary/bidonmultiformat.json
  adapters/rubicon/rubicontest/exemplary/flexible-schema.json
  adapters/rubicon/rubicontest/exemplary/hardcode-secure.json
  adapters/rubicon/rubicontest/exemplary/non-bidonmultiformat.json
  adapters/rubicon/rubicontest/exemplary/simple-banner.json
  adapters/rubicon/rubicontest/exemplary/simple-native.json
  adapters/rubicon/rubicontest/exemplary/simple-video.json
  adapters/rubicon/rubicontest/exemplary/site-imp-fpd.json
  adapters/rubicon/rubicontest/exemplary/user-fpd.json
  adapters/rubicon/rubicontest/supplemental/no-site-content-data.json
  adapters/rubicon/rubicontest/supplemental/no-site-content.json
  openrtb_ext/bid.go
Labels: do not port, adapter

#4302 GumGum: Collect ad unit name for reporting
  adapters/gumgum/gumgum.go
  adapters/gumgum/gumgumtest/supplemental/ad-unit-code-test.json
  adapters/sovrn/sovrntest/supplemental/adunitcode.json
  openrtb_ext/imp_gumgum.go
Labels: adapter

#4299 Seedtag: Fix required content-type header on http calls
  adapters/seedtag/seedtag.go
  adapters/seedtag/seedtagtest/exemplary/banner.json
  adapters/seedtag/seedtagtest/exemplary/bidfloor_converted.json
  adapters/seedtag/seedtagtest/exemplary/video.json
Labels: adapter

#4295 Kobler: Remove sensitive device and user data
  adapters/kobler/kobler.go
  adapters/kobler/koblertest/supplemental/user-data-is-removed.json
  adapters/kobler/koblertest/supplemental/user-ip-is-removed.json
Labels: adapter

#4407 Rules Engine Module: Phase 1
  adapters/appnexus/appnexus_test.go
  config/account.go
  config/account_test.go
  endpoints/openrtb2/amp_auction_test.go
  hooks/hookexecution/context.go
  hooks/hookstage/invocation.go
  hooks/hookstage/processedauctionrequest_mutations.go
  hooks/hookstage/processedauctionrequest_mutations_test.go
  metrics/go_metrics_test.go
  modules/builder.go
  modules/modules.go
  modules/modules_test.go
  modules/prebid/rulesengine/cache.go
  modules/prebid/rulesengine/cache_entry.go
  modules/prebid/rulesengine/cache_entry_test.go
  modules/prebid/rulesengine/cache_test.go
  modules/prebid/rulesengine/config/config.go
  modules/prebid/rulesengine/config/config_test.go
  modules/prebid/rulesengine/config/rules-engine-schema.json
  modules/prebid/rulesengine/config/sample-schemas/malformed.json
  modules/prebid/rulesengine/hook_processed_auction.go
  modules/prebid/rulesengine/hook_processed_auction_test.go
  modules/prebid/rulesengine/module.go
  modules/prebid/rulesengine/module_test.go
  modules/prebid/rulesengine/observer.go
  modules/prebid/rulesengine/result_functions.go
  modules/prebid/rulesengine/result_functions_test.go
  modules/prebid/rulesengine/tree_builder.go
  modules/prebid/rulesengine/tree_builder_test.go
  modules/prebid/rulesengine/tree_manager.go
  modules/prebid/rulesengine/tree_manager_test.go
  modules/prebid/rulesengine/tree_test.go
  modules/shutdown.go
  modules/shutdown_test.go
  router/router.go
  rules/result_functions.go
  rules/schema_functions.go
  rules/schema_functions_test.go
  rules/tree.go
  rules/tree_test.go
  util/randomutil/randomutil.go
Labels: module

#4275 New Adapter: Sparteo
  adapters/sparteo/params_test.go
  adapters/sparteo/sparteo.go
  adapters/sparteo/sparteo_test.go
  adapters/sparteo/sparteotest/exemplary/banner.json
  adapters/sparteo/sparteotest/exemplary/native.json
  adapters/sparteo/sparteotest/exemplary/video.json
  adapters/sparteo/sparteotest/supplemental/filter-empty-seat-bids.json
  adapters/sparteo/sparteotest/supplemental/filter-invalid-bid-type.json
  adapters/sparteo/sparteotest/supplemental/filter-no-seat-bids.json
  adapters/sparteo/sparteotest/supplemental/invalid-bidder-ext.json
  adapters/sparteo/sparteotest/supplemental/invalid-json-response.json
  adapters/sparteo/sparteotest/supplemental/invalid-publisher-ext.json
  adapters/sparteo/sparteotest/supplemental/status_204.json
  adapters/sparteo/sparteotest/supplemental/status_400.json
  adapters/sparteo/sparteotest/supplemental/status_500.json
  exchange/adapter_builders.go
  openrtb_ext/bidders.go
  openrtb_ext/imp_sparteo.go
  static/bidder-info/sparteo.yaml
  static/bidder-params/sparteo.json
Labels: adapter
